
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}
.wrap {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    padding: 20px 0;
}
header img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilo para el banner */
.banner {
    position: relative;
    width: 100%;
    height: 550px; /* Altura del banner */
    overflow: hidden;
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el área */
    z-index: 0; /* Coloca el video en el fondo */
}

/* Capa opaca solo para la imagen de fondo */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de opacidad aquí */
    z-index: 1; /* Capa opaca solo debajo del título */
}

/* Estilo para el contenido del banner */
.banner-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Color del texto */
    font-size: 2rem; /* Tamaño del texto */
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 9); /* Sombra para mejorar la legibilidad */
    z-index: 2; /* Trae el texto al frente */
}

/* Estilo para el contenido del banner */
.banner-content h1{
    color: white; /* Color del texto */
    font-size: 3rem; /* Tamaño del texto */
}

/* Estilo para la información */
.hero-info {
    position: absolute;
    top: 10px; /* Distancia desde la parte superior */
    left: 10px; /* Distancia desde la parte derecha */
    text-align: left;
    color: white; /* Cambia el color si el fondo lo requiere */
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

/* Estilo para el enlace */
.hero-info a {
    text-decoration: none;
    color: white; /* Asegura que el texto sea visible */
    display: flex;
    align-items: center;
    gap: 5px; /* Espaciado entre ícono y texto */
    font-size: 14px;
}

/* Estilo para el ícono de WhatsApp */
.hero-info i {
    font-size: 16px; /* Tamaño del ícono */
    color: #25D366; /* Color oficial de WhatsApp */
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
}

/* Logo */
.menu .logo {
    display: inline-block;
    margin-right: 100px;
    text-decoration: none;
}

.menu .logo img {
    height: 60px; /* Ajusta el tamaño del logo */
    width: auto;
    vertical-align: middle;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease; /* Suaviza el efecto */
}

.menu ul li a:hover {
    font-size: 1.2rem; /* Agranda el texto */
    color: #FFD700; /* Cambia el color a gris plateado */
}

.menu .hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}


h1, h2 {
    color: #0073e6;
    font-weight: 600;
}
section {
    margin-bottom: 20px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.social-icons a {
    text-decoration: none;
    font-size: 20px;
    color: #0073e6;
}

.icono-img {
    width: 32px; /* Ajusta el tamaño según sea necesario */
    height: 32px; /* Ajusta el tamaño según sea necesario */
    vertical-align: middle; /* Alinear el icono con el texto */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.image-placeholder {
    width: 100%;
    height: 300px; /* Altura estática */
    overflow: hidden;
    border-radius: 8px;
}

.image-placeholder img {
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    object-fit: cover; /* Mantiene la estética sin distorsión */
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
ul li {
    margin-bottom: 10px;
}

/* Estilos generales para la sección del portafolio */
.portfolio-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: ##0073e6;
}

/* Contenedor del portafolio */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Estilo para cada item del portafolio */
.portfolio-item {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}

/* Imagen del proyecto */
.portfolio-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Información adicional del proyecto */
.portfolio-info {
    padding: 20px;
}

.portfolio-info h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #333;
}

.portfolio-info p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666;
}

.portfolio-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.portfolio-link:hover {
    background-color: #2980b9;
}

/* Contenedor de las columnas */
.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Estilo de las columnas */
.column {
  flex: 1;
  text-align: center;
}

/* Estilo de las imágenes */
.column img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto hover en las imágenes */
.column img.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo del texto */
.column p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

/* Estilos para el enlace de "Volver al inicio" */
.volver-inicio {
    display: block;
    margin-top: 20px;
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

.volver-inicio:hover {
    color: #333;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px; /* Ajusta la posición desde abajo */
    right: 20px; /* Ajusta la posición desde la izquierda */
    background-color: #25D366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #20B354;
}

.whatsapp-float i {
    color: white;
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: #fff;

}

/* Adaptar el tamaño de la fuente en dispositivos pequeños */
@media (max-width: 768px) {
    .banner {
    height: 350px; /* Altura del banner */
}

    .banner-content {
        font-size: 1.2rem;
    }

    /* Estilo para el contenido del banner */
    .banner-content h1{
    color: white; /* Color del texto */
    font-size: 1.5rem; /* Tamaño del texto */
}

    .section-title {
        font-size: 2rem;
    }

    .portfolio-info h3 {
        font-size: 1.4rem;
    }

    .portfolio-info p {
        font-size: 0.9rem;
    }
        .menu {
        justify-content: flex-start; /* Alinea el contenido del menú a la izquierda */
    }
    
    .menu ul {
        display: none;
        flex-direction: column;
        background-color: #0073e6;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }
    .menu ul.active {
        display: flex;
    }
    .menu .hamburger {
        display: block; /* Muestra el ícono de hamburguesa */
        position: relative; /* Mantiene su posición dentro de la franja azul */
        margin-right: auto; /* Empuja el ícono hacia la izquierda */
    }
      .columns {
    flex-direction: column;
    gap: 10px;
  }
}
